.name{
    width: 25%

}

.telNumber{
    width: 15%
    
}

.edit{
    width: 20%
    
}

.delete{
    width: 20%
    
}

.add{
    width: 20%
    
}

.create{
    width: 20%
    
}

.allOrders{
    width: 20%
    
}