.vin{
    width: 25%

}

.license{
    width: 15%
    
}

.made{
    width: 25%
    
}

.delete{
    width: 15%
    
}

.edit{
    width: 15%
    
}

.add{
    width: 25%
    
}

.create{
    width: 25%
    
}

.allOrders{
    width: 15%
    
}